<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Camara </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camara</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selfie?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tomate una foto vamos! usa la el boton con el icono de camara
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
