<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mensajes de alerta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Seccion de alertas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="SoyUnBoton()">
        Hablar?
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
